audio_recorder_streamlit
ipython
langchain
librosa
numpy
openai
pandas
Pillow
plotly
Requests
scikit_learn
soundfile
speechbrain
streamlit
streamlit_chat
streamlit_extras
torch
torchaudio
web3
python-dotenv
pydantic
chromadb
pysqlite3