numpy
librosa
torch
audio_recorder_streamlit
ipython
langchain
openai
pandas
Pillow
plotly
Requests
scikit_learn
soundfile
speechbrain
streamlit
streamlit_chat
streamlit_extras
torchaudio
web3
python-dotenv
pinecone-client
tiktoken
huggingface_hub
transformers
anthropic