gTTS
elevenlabs
stftpitchshift==1.5.1
torchcrepe
setuptools
wheel
httpx==0.23.0
faiss-gpu
fairseq
streamlit
ffmpeg-python
praat-parselmouth
pyworld
numpy==1.23.5
i18n
numba==0.56.4
librosa==0.9.2
mega.py
gdown
onnxruntime
pyngrok==4.1.12
torch
audio_recorder_streamlit
ipython
langchain
openai
pandas
Pillow
plotly
Requests
scikit_learn
soundfile
speechbrain
streamlit
streamlit_chat
streamlit_extras
torchaudio
web3
python-dotenv
pinecone-client
tiktoken
huggingface_hub
transformers
