/* Fade in first text */
@keyframes fade-in-text1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fade-in-text1 {
    animation: fade-in-text1 1s ease-out 2.2s forwards;
}

/* Fade in second text */
@keyframes fade-in-text2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fade-in-text2 {
    animation: fade-in-text2 2s ease-out 4.4s forwards;
}

/* Fade in button */
@keyframes fade-in-button {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fade-in-button {
    animation: fade-in-button 3s ease-out 8.8s forwards;
    background: linear-gradient(90deg, #354072, #4F80FF);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}
